{
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.{tsx,ts,js}",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
